.footer {
    color: #fff;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;

    &__naam {
        font-size: 30px;
        margin-top:15px;}
      
    &__website {
        font-size:26px;
        margin-top:15px;
        color: $color2;}
  }
  
  