.foto {
    margin-top: -390px;
    justify-content: center;
    z-index: 1}
  
  img {
    width: 160px;
    height: 180px;
    border-radius: 50%;
    border: solid 8px white;
    object-fit: cover;
  }