.header {
    margin-top: 20px;
    background: linear-gradient(180deg, $background2 65%, $background3 65%);
    color: $color1;
    height: 800px;
    width: 610px;
    border-radius: 20px;
    border: 1px transparent;
    box-shadow: 0px 12px 5px 5px $background4;

    &__tekst {
        font-size: 32px;
        padding: 30px 30px 0px 50px;
        text-align: left;
        line-height: 50px;
        justify-content: center;}
}